.billing-group {

  .billing-tier {
    margin-bottom: $base * 2;
    text-align: center;

    @include at-breakpoint($break) {
      @include span-columns(3,12);

      &:nth-child(4n) {
        @include omega;
      }

      margin-bottom: 0;
    }

    header {
      padding: $base 0;

      background-color: $green;

      color: $white;
      border-radius: ($radius + 2px) ($radius + 2px) 0 0;

      h4 {
        margin-bottom: 0;
        font-size: 28px;

        .per-month {
          font-size: 61%;
          font-weight: 400;
        }
      }

      h5 {
        text-transform: uppercase;
        letter-spacing: 0.7pt;
        margin-bottom: 0;
      }
    }

    p {
      font-size: 16px;
    }
  }

  .billing-tier-bottom {
    padding: $base;
    margin-bottom: 0;

    border: 2px solid $lightest-gray;
    border-top: none;
    border-radius: 0 0 ($radius + 2px) ($radius + 2px);

    p {
      margin-bottom: 0;
      line-height: 1.5;
    }
  }

  .billing-tier-free {
    header {
      background-color: $free;

      h5 {
        color: shade($free, 40%);
      }
    }

    .billing-tier-bottom {
      border-color: tint($free, 50%);
    }
  }

  .billing-tier-triassic {
    header {
      background-color: $triassic;

      h5 {
        color: shade($triassic, 40%);
      }
    }

    .billing-tier-bottom {
      border-color: tint($triassic, 50%);
    }
  }

  .billing-tier-jurassic {
    header {
      background-color: $jurassic;

      h5 {
        color: shade($jurassic, 40%);
      }
    }

    .billing-tier-bottom {
      border-color: tint($jurassic, 50%);
    }
  }

  .billing-tier-cretaceous {
    header {
      background-color: $cretaceous;

      h5 {
        color: shade($cretaceous, 40%);
      }
    }

    .billing-tier-bottom {
      border-color: tint($cretaceous, 50%);
    }
  }

  center {
    @include span-columns(12);

    text-align: center;
    margin-top: $base * 2;

    p {
      margin-bottom: 0;
    }
  }
}

.embedded-form {
  padding-top: $base;
}
