.btn {
  display: inline-block;

  padding: .5em 1em;

  font-weight: 600;
  text-decoration: none;

  border: 2px solid $white;
  border-radius: $radius + 1px;

  &:hover {
    color: shade($addendum, 15%);

    background-color: $white;
  }
}

.btn ~ .btn {
  margin-left: $base;
}
