.cta-module {
  $cta-from  : lighten($triassic, 20%);
  $cta-to    : lighten($triassic, 15%);

  @include background(linear-gradient(45deg, $cta-from, $cta-to));

  // FIXME: Negative margin is a shitty way to compensate for the border above.
  margin-top: -1px;
  padding-top: $base * 2.5;
  padding-bottom: $base * 2.5;

  border: 0;

  p {
    margin-bottom: 0;

    font-size: 21px;

    color: $cretaceous;

    &:before {
      @include background(image-url("/assets/images/asm-logotype.png"));

      margin: 0 auto;
      margin-right: $base;
      top: 10px;

      float: left;
      width: 52px;
      height: 46px;

      background-position: 0 0;
      background-repeat: no-repeat;

      content: "";
    }
  }
}
