/* -------------------------------------------------------------------------*/
/* Code */

.code-set {

  .code-feature {
    margin-bottom: $base * 4;

    &:last-of-type {
      margin-bottom: 0;
    }

    h5 {
      color: $blue;
    }

    .code-block {
      padding: ($base / 1.5) $base;

      font-family: $font-Code;
      font-size: 14px;

      border-radius: $radius;
      border: 1px solid $subtle-gray;
      background-color: lighten($subtle-gray, 10%);

      overflow-x: auto;
      word-wrap: normal;

      margin-bottom: $base;

      @include at-breakpoint($break) {
        font-size: 16px;
      }
    }
  }
}

table.code-params {
  overflow-x: scroll;
  margin-bottom: $base * 2;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.8;

  @include at-breakpoint($break) {
    font-size: 16px;
  }

  th {
    padding: 9px 13px;
    font-weight: bold;
    text-align: left;
    color: $lighter-gray;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.4pt;
    border: 1px solid $lightest-gray;
  }

  tbody {
    vertical-align: middle;
    border-color: $lightest-gray;
  }

  tr {
    border-top: 1px solid $lightest-gray;
    vertical-align: inherit;
  }

  td {
    border: 1px solid $lightest-gray;
    padding: 6px 13px;
  }
}
