/* -------------------------------------------------------------------------*/
/* Code */

.code-set {

  .code-feature {
    margin-bottom: $base * 3;

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      column-count: 2;
    }
  }
}

.code-sample {
  .gist {
    .gist-file {
      border-bottom: none;

      .gist-data {

        .line-data {
          padding: ($base / 1.5) $base !important;
        }

        .line-pre {
          font-family: $font-Code;
          font-size: 16px;
        }
      }
    }
  }

  .line-pre {
    color: $gray;
  }
}

.code-block {
  font-family: "source-code-pro", Monaco, monospace;
  font-size: 16px;
	border-radius:3px;
	border:1px solid #ddd;
	background-color:#f8f8ff;
	overflow:auto;
	word-wrap:normal;
  padding: $base;
}

table.code-params {
  width: 100%;
  overflow: auto;
  display: block;
  margin: 15px 0;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  th {
    border: 1px solid #ddd;
    padding: 6px 13px;
    font-weight: bold;
    text-align: center;
  }

  tbody {
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    vertical-align: inherit;
  }

  td {
    border: 1px solid #ddd;
    padding: 6px 13px;
  }
}

