// ---------------------------------------------------------------------------
// Basic Grid

$break          : 47.5em 12;
$total-columns  : 12;
$column-width   : 54px;
$gutter-width   : 30px;
$grid-padding   : $gutter-width * 1.5;

$show-grid-backgrounds  : false;
