/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include susy-grid-background;
  @include container($total-columns, $break);
}

section {
  padding-top: $base * 4;
  padding-bottom: $base * 4;

  border-bottom: 1px solid $lightest-gray;
}
