
<div class="jumbotron">
  <header class="container">
    <hgroup>
      <h1>Read Raptor <span class="badge">Beta</span></h1>
      <h2>Add smart notifications, digests, and read-receipts to your app in minutes.</h2>

      <a href="#get-started" class="btn">Get Started</a>
    </hgroup>
    <div class="raptored">
      <div class="deal-with-it"></div>
    </div>
  </header>

  <div class="addendum">
    <div class="container">
      <p>
        <strong>Increase engagement by sending your customers relevant content once, and once only.</strong> Read Raptor's simple API lets you schedule webhooks for a user so you are notified when they haven't seen something.
      </p>
      <p><br/>Read Raptor is built collaboratively by a community of awesome hackers.</p>
    </div>
  </div>
</div>

<section class="feature-set">
  <div class="container">
    <div class="feature feature-notifications">
      <h4>Notifications</h4>
      <p>Quickly implement iMessage style delivery, sending content only if they haven't seen something.</p>
    </div>
    <div class="feature feature-digests">
      <h4>Daily &amp; Weekly Digests</h4>
      <p>Queue up interesting content for a user and have Read Raptor call back to your app at later with all the things to send them in a digest.</p>
    </div>
    <div class="feature feature-receipts">
      <h4>Read Receipts</h4>
      <p>Use Read Raptor to highlight new content on your website the user hasn't read.</p>
    </div>
  </div>
</section>

<!--
<section>
  <div class="container">
    <h3>Community built</h3>

    <p>
      Read Raptor is built and owned by a team of volunteers.
    </p>

  </div>
</section>
!-->
<section id="billing">

  <div class="billing-group container">

    <div class="billing-tier billing-tier-free">
      <header>
        <h4>$0 <span class="per-month">/mo</span></h4>
        <h5>Free</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>1,000</strong><br /> unique monthly recipients</p>
      </div>
    </div>

    <div class="billing-tier billing-tier-triassic">
      <header>
        <h4>$29 <span class="per-month">/mo</span></h4>
        <h5>Triassic</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>10,000</strong><br /> unique monthly recipients</p>
      </div>
    </div>

    <div class="billing-tier billing-tier-jurassic">
      <header>
        <h4>$79 <span class="per-month">/mo</span></h4>
        <h5>Jurassic</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>100,000</strong><br /> unique monthly recipients</p>
      </div>
    </div>

    <div class="billing-tier billing-tier-cretaceous">
      <header>
        <h4>$199 <span class="per-month">/mo</span></h4>
        <h5>Cretaceous</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>1,000,000</strong><br /> unique monthly recipients</p>
      </div>
    </div>

    <p class="center-gray">Unique monthly recipients are the number of unique users that you can track reads for.<br/>
    If you have more than a million recipients, <a href="mailto:admin@readraptor.com">contact us.</a></p>

  </div><!-- .billing-group -->
</section>

<section id="get-started">

  <div class="code-set container">

    <div class="code-feature">
      <h4>Create your account right now!</h4>

      <pre class="code-block"><code>curl -X POST https://readraptor.com/accounts -d email=dave@example.com</code></pre>
    </div>

  </div>
</section>


<section id="api">

  <div class="code-set container">
    <h3>API Documentation</h3>

    <div class="code-feature">
      <h4>Create Article</h4>
      <pre class="code-block"><code>POST /articles</code></pre>
      <p>Registering an article allows Read Raptor to track read receipts for expected readers. You can also set up webhooks to receive calls at specified times in the future notifying you of the expected users that <strong>haven't</strong> seen the article</p>

      <h5>Parameters</h5>
      <table class="code-params">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>key</code></td>
            <td><code>string</code></td>
            <td><strong>Required.</strong> Unique key for this article</td>
          </tr>
          <tr>
            <td><code>recipients</code></td>
            <td><code>array</code></td>
            <td>User ids expected to see this article. Eg: <code>["user_id_1", "user_id_2"]</code></td>
          </tr>
          <tr>
            <td><code>via</code></td>
            <td><code>array</code></td>
            <td>Delivery methods for read raptor. Described below.</td>
          </tr>
        </tbody>
      </table>

      <h5>Delivery Method</h5>
      <table class="code-params">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>type</code></td>
            <td><code>string</code></td>
            <td>Currently only supported type is <code>webhook</code></td>
          </tr>
          <tr>
            <td><code>at</code></td>
            <td><code>timestamp</code></td>
            <td>Unix timestamp when to send notification</td>
          </tr>
          <tr>
            <td><code>url</code></td>
            <td><code>string</code></td>
            <td>Webhook url to post to.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="code-feature">
      <h4>Get Article</h4>
      <pre class="code-block"><code>GET /articles/:key</code></pre>
      <p>Get the article to see pending deliveries.</p>
      <h5>Response</h5>
      <p>
        <pre class="code-block"><code>{
        "article": {
          "key": "article_1",
          "pending": ["user_1", "user_2"]
        }
      }</code></pre>
      </p>
    </div>

    <div class="code-feature">
      <h4>Track Read</h4>
      <pre class="code-block"><code>GET /t/:public_key/:article_key/:user_id/:signature.gif</code></pre>
      <p>Embed as a in img tag to track reads. The <code>signature</code> is a <code>sha1</code> hash of the <code>private_key</code> + <code>args</code> in the same order</p>
    </div>

  </div>
</section>


