
<div class="jumbotron">
  <header class="container">
    <hgroup>
      <h1>Read Raptor <span class="badge">Beta</span></h1>
      <h2>Add smart notifications, digests, and read-receipts to your app in minutes.</h2>

      <a href="#get-started" class="btn">Get Started</a>
    </hgroup>
    <div class="raptored">
      <div class="deal-with-it"></div>
    </div>
  </header>

  <div class="addendum">
    <div class="container">
      <p><strong>Increase engagement by sending your customers relevant content once, and once only.</strong> Read Raptor's simple API lets you schedule webhooks for a user so you are notified when they haven't seen something.</p>
    </div>
  </div>
</div>

<section class="feature-set">
  <div class="container">
    <div class="feature feature-notifications">
      <h4>Notifications</h4>
      <p>Quickly implement iMessage style delivery, sending content only if they haven't seen something.</p>
    </div>
    <div class="feature feature-digests">
      <h4>Daily &amp; Weekly Digests</h4>
      <p>Queue up interesting content for a user and have Read Raptor call back to your app at later with all the things to send them in a digest.</p>
    </div>
    <div class="feature feature-receipts">
      <h4>Read Receipts</h4>
      <p>Use Read Raptor to highlight new content on your website the user hasn't read.</p>
    </div>
  </div>
</section>

<section id="billing">

  <div class="billing-group container">

    <div class="billing-tier billing-tier-free">
      <header>
        <h4>$0 <span class="per-month">/mo</span></h4>
        <h5>Free</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>1,000</strong><br /> recipients</p>
      </div>
    </div>

    <div class="billing-tier billing-tier-triassic">
      <header>
        <h4>$29 <span class="per-month">/mo</span></h4>
        <h5>Triassic</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>10,000</strong><br /> recipients</p>
      </div>
    </div>

    <div class="billing-tier billing-tier-jurassic">
      <header>
        <h4>$79 <span class="per-month">/mo</span></h4>
        <h5>Jurassic</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>100,000</strong><br /> recipients</p>
      </div>
    </div>

    <div class="billing-tier billing-tier-cretaceous">
      <header>
        <h4>$199 <span class="per-month">/mo</span></h4>
        <h5>Cretaceous</h5>
      </header>
      <div class="billing-tier-bottom">
        <p><strong>1,000,000</strong><br /> recipients</p>
      </div>
    </div>

  </div><!-- .billing-group -->

</section>

<section id="get-started">

  <div class="code-set container">

    <h3>Get up and running</h3>

    <div class="code-feature">
      <h4>Create an account</h4>

      <div class='code-sample'>
        <code data-gist-id="bc4e7f34e0ecc82fadb4" data-gist-hide-line-numbers="true" data-gist-hide-footer="true" data-gist-line="2-3"></code>
      </div>
    </div>

    <div class="code-feature">
      <h4>Register an article</h4>

      <div class='code-sample'>
        <code data-gist-id="bc4e7f34e0ecc82fadb4" data-gist-hide-line-numbers="true" data-gist-hide-footer="true" data-gist-line="6-11"></code>
      </div>
    </div>

    <div class="code-feature">
      <h4>Mark article as read</h4>
      <div class='code-sample'>
        <code data-gist-id="bc4e7f34e0ecc82fadb4" data-gist-hide-line-numbers="true" data-gist-hide-footer="true" data-gist-line="14"></code>
      </div>
    </div>

    <div class="code-feature">
      <h4>Who hasn't read the article?</h4>
      <div class='code-sample'>
        <code data-gist-id="bc4e7f34e0ecc82fadb4" data-gist-hide-line-numbers="true" data-gist-hide-footer="true" data-gist-line="17"></code>
      </div>
    </div>

  </div><!-- .code-set -->
</section>