<!DOCTYPE html>
<html>
<head>
  <title>Read Raptor</title>
  <style>
  .raptor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 480px;
    height: 480px;
    margin: auto;
  }
  </style>
</head>
<body>
  <div class="raptor">
    <a href="https://assemblymade.com/readraptor">
      <img src="public/logo.jpg" />
    </a>
  </div>
</body>
</html>