Thanks for signing up to Read Raptor!

You're almost ready to start tracking read receipts and sending smart notifications to your users.

Follow this link to complete the signup process: https://readraptor.com/confirm/{{.ConfirmationToken}}

If you need any help, just reply to this email.

The Read Raptor Team