<!DOCTYPE html>
<html>
<head>
  <title>Read Raptor</title>
</head>
<body>
  <div class="raptor">
    <a href="https://assemblymade.com/readraptor">
      <img src="public/logo.jpg" />
    </a>
  </div>
  <h1>Getting started</h1>

  <p>Commands!</p>
</body>
</html>