
<section id="get-started">

  <div class="code-set container">

    <h3>Get up and running</h3>

    <div class="code-feature">
      <h4>Register an article</h4>

      <div class='code-sample'>

<pre class="code-block"><code>curl -X POST https://readraptor.com/articles \
     -u {{.Account.PrivateKey}}: \
     -d '{
       "key": "article_1",
       "recipients": ["user_1", "user_2"]
     }'</code></pre>
      </div>
    </div>

    <div class="code-feature">
      <h4>Mark article as read</h4>
      <pre class="code-block"><code>curl -I https://readraptor.com/t/{{.Account.PublicKey}}/article_1/user_1/{{.Signature}}.gif</code></pre>
    </div>

    <div class="code-feature">
      <h4>Who hasn't read the article?</h4>
      <pre class="code-block"><code>curl -u {{.Account.PrivateKey}}: \
    https://readraptor.com/articles/article_1</code></pre>
    </div>

    <div class="code-feature">
      <h4>For more information, check out <a href="https://assemblymade.com/readraptor">Read Raptor on Assembly</a></h4>
    </div>

  </div><!-- .code-set -->
</section>