<div class="jumbotron">
  <header class="container">
    <div class="addendum">
      <div class="container">
      </div>
    </div>
  </header>
</div>

<section id="get-started">

  <div class="code-set container">

    <h3>You're good to go</h3>

    <div class="code-feature">
      <h4>Register an Article</h4>

      <div class='code-sample'>

<pre class="code-block"><code>curl -X POST https://readraptor.com/articles \
     -u {{.Account.PrivateKey}}: \
     -d '{
       "key": "article_1",
       "recipients": ["user_1", "user_2"]
     }'</code></pre>
      </div>
    </div>

    <div class="code-feature">
      <h4>Mark the Article as read</h4>
      <pre class="code-block"><code>curl -I https://readraptor.com/t/{{.Account.PublicKey}}/article_1/user_1/{{.Signature}}.gif</code></pre>
    </div>

    <div class="code-feature">
      <h4>Check who hasn't read it</h4>
      <pre class="code-block"><code>curl -u {{.Account.PrivateKey}}: \
    https://readraptor.com/articles/article_1</code></pre>
    </div>

    <div class="code-feature">
      <h4>Help us build this! Check out <a target="_blank" href="https://github.com/asm-products/readraptor">Read Raptor on Github</a></h4>
    </div>

  </div><!-- .code-set -->
</section>