

                                   ____      ________
  Thanks for checking              ,^.__.>--"~~'_.--~_)~^.
  out Read Raptor!                _L^~   ~    (~ _.-~ \. |\
                               ,-~    __    __,^"/\_A_/ /' \
  Check your                 _/    ,-"  "~~" __) \  ~_,^   /\
  email for                 //    /  ,-~\ x~"  \._"-~     ~ _Y
  instructions on           Y'   Y. (__.//     /  " , "\_r ' ]
  how to get started.       J-.__l_>---r{      ~    \__/ \_ _/
                           (_ (   (~  (  ~"---   _.-~ `\ / \ !
                            (_"~--^----^--------"  _.-c Y  /Y'
                             l~---v----.,______.--"  /  !_/ |
                              \.__!.____./~-.      _/  /  \ !
                               `x._\_____\__,>---"~___Y\__/Y'
                                         ~(_~~(_)"~___)/ /\|
                                          (_~~   ~~___)  \_t
                                          (_~~   ~~___)\_/ |
                                          (_~~   ~~___)\_/ |
                                          { ~~   ~~   }/ \ l
       ____                 __   ____              __
      / __ \___  ____ _____/ /  / __ \____ _____  / /_____  _____
     / /_/ / _ \/ __ `/ __  /  / /_/ / __ `/ __ \/ __/ __ \/ ___/
    / _, _/  __/ /_/ / /_/ /  / _, _/ /_/ / /_/ / /_/ /_/ / /
   /_/ |_|\___/\__,_/\__,_/  /_/ |_|\__,_/ .___/\__/\____/_/
                                        /_/
